@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <style>
            .github-fork-ribbon:before {
                background-color: #2ea28a;
            }
        </style>

        <a class="github-fork-ribbon" href="https://github.com/Saalvage/Modulhandbuch" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
